.block {
    background-color: lightgray;
    border: 2px solid black;
    width: 90%;
    max-width: 1920px;
    height: 150px;
    margin: 20px auto;
}

.block-big {
    height: 240px;
}

.cell {
    background-color: gray;
    border: 2px solid black;
    width: 9vw;
    height: 80px;
}

.first-left {
    float: left;
    margin: 2% 0 2% 2%;
}

.first-right {
    float: right;
    margin: 2% 2% 2% 0;
}

.second-left {
    float: left;
    margin: 2% 0 2% 2%;
}

.second-right {
    float: right;
    margin: 2% 2% 2% 0;
}

.third-left {
    float: left;
    margin: 2% 0 2% 2%;
}

.third-right {
    float: right;
    margin: 2% 2% 2% 0;
}


.forth-left {
    float: left;
    height: 190px;
    margin: 3% 0 2% 23%;
}

.forth-bottom {
    float: right;
    margin: 3% 5% 2% 0;
}

.forth-top {
    float: right;
    margin: 2% 5% 2% 0;
}

.forth-right {
    float: right;
}

.fifth-center {
    margin: 1% 33%;
}

.fifth-left {
    float: left;
    height: 190px;
    margin: 2%;

}

.fifth-bottom,
.fifth-top {
    float: left;
    margin: 2%;
}
