.block {
    background-color: lightgray;
    border: 2px solid black;
    width: 90%;
    height: 150px;
    margin: 20px auto;
}

.block-big {
    height: 240px;
}

.cell {
    background-color: gray;
    border: 2px solid black;
    margin: 0 auto;
    width: 300px;
    height: 80px;
}

.first-left {
    float: left;
    margin: 35px 50px;
}

.first-right {
    float: right;
    margin: 35px 50px;
}

.second-left {
    float: left;
    margin: 35px 50px;
}

.second-right {
    float: right;
    margin: 35px 50px;
}

.third-left {
    float: left;
    margin: 35px 50px;
}

.third-right {
    float: right;
    margin: 35px 50px;
}

.right {
    float: right;
}

.forth-left {
    float: left;
    margin: 35px 50px;
    height: 160px;
}

.right2 {
    float: right;
    margin: 5px 30px;
}

.forth-bottom {
    margin: 20px;
}

.center {
    margin: 20px 20px 20px 890px;
}

.fifth-left {
    float: left;
    margin: 35px 50px;
    height: 160px;
}

.right3 {
    float: right;
    margin: 0 890px 0 0;
}

.fifth-bottom {
    margin: 20px;
}